.cancel-reservations-container {
    color: white;
    flex-grow: 1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    min-height: 100vh;
    background-color: rgb(0, 0, 100);

    .form-container {
        color: white;
        background-color: #ddd;
        display: flex;
        border-radius: 5px;
        justify-content: space-between;
        width: 95%;
        flex-grow: 1;
        margin-bottom: 10px;

        .input-section {
            flex: 1;
            background-color: #333;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .input-section input {
            max-width: 290px;
        }

        button {
            border: 1px solid #fff;
            background-color: teal;
            color: #fff;
            border-radius: 5px;
            font-size: 16px;
            padding: 8px;
            cursor: pointer;
        }
    }
}