<div class="cancel-reservations-container">
    <h3>Cancel Reservations</h3>
    <div class="form-container">
        <div class="input-section">
            <label for="reservationId"><h3>Enter A Reservation ID:</h3></label>
            <input type="text" id="reservationId" [value]="reservationId" [(ngModel)]="reservationId" placeholder="Enter Reservation ID" required>
        @if (!reservationId) {
            <h3>OR</h3>
            <h3>Search for a User or Book</h3>
            <div class="toggle-section">
                <button (click)="toggleSearchType()">
                    {{ isUserSearchVisible ? 'Switch to Book Search' : 'Switch to User Search' }}
                </button>
            </div>
            @if (isUserSearchVisible) {
                <h3>{{ userId == '' ? 'User Search' : 'Reservation Results' }}</h3>
                <app-search-bar
                    [isReservationsPage]="isReservationsPage"
                    [isUserSearch]="isUserSearch"
                    [perPage]="perPage"
                    [selectedModel]="selectedUserModel"
                    [fieldOptions]="fieldUserOptions"
                    [selectedField]="selectedUserField"
                    (userSelected)="onUserDetailsReceived($event)"
                    (bookSelected)="onBookDetailsReceived($event)"
                    (itemSelected)="onUserItemSelected($event)"
                ></app-search-bar>
            }
            @if (!isUserSearchVisible) {
                <h3>{{ bookId == '' ? 'Book Search' : 'Reservation Results' }}</h3>
                <app-search-bar
                    [isReservationsPage]="isReservationsPage"
                    [isBookSearch]="isBookSearch"
                    [perPage]="perPage"
                    [selectedModel]="selectedBookModel"
                    [fieldOptions]="fieldBookOptions"
                    [selectedField]="selectedBookField"
                    (userSelected)="onUserDetailsReceived($event)"
                    (bookSelected)="onBookDetailsReceived($event)"
                    (itemSelected)="onBookItemSelected($event)"
                ></app-search-bar>
            }
        }
        </div>
            <div class="reservation-modal">
               <app-modal
                  [isReservationsPage]="isReservationsPage"
                  [isBookDetailsModal]="isBookDetailsModal"
                  [isUserDetailsModal]="isUserDetailsModal"
                  [showModal]="showModal"
                  [modalTitle]="modalTitle"
                  [bookDetails]="bookDetails"
                  [userDetails]="userDetails"
                  (closeModal)="closeModal()">
               </app-modal>
            </div>
         
    </div>
    @if (reservationId) {
        <button (click)="cancelReservation()">Cancel Reservation</button>
    }
</div>