<div class="checkin-container">
    <h3>Check In Books</h3>
    <div class="form-container">
        <div class="input-section">
            <label for="checkoutId"><h3>A Check Out ID:</h3></label>
            <input type="text" id="checkoutId" [value]="checkoutId" [(ngModel)]="checkoutId" placeholder="Enter Checkout ID" required>
        @if (!checkoutId) {
            <h3>OR</h3>
            <h3>Search for a User or Book</h3>
            <div class="toggle-section">
                <button (click)="toggleSearchType()">
                    {{ isUserSearchVisible ? 'Switch to Book Search' : 'Switch to User Search' }}
                </button>
            </div>
            @if (isUserSearchVisible) {
                <h3>{{ userId == '' ? 'User Search' : 'Check Out Results' }}</h3>
                <app-search-bar
                    [isCheckinPage]="isCheckinPage"
                    [isUserSearch]="isUserSearch"
                    [perPage]="perPage"
                    [selectedModel]="selectedUserModel"
                    [fieldOptions]="fieldUserOptions"
                    [selectedField]="selectedUserField"
                    (userSelected)="onUserDetailsReceived($event)"
                    (bookSelected)="onBookDetailsReceived($event)"
                    (itemSelected)="onUserItemSelected($event)"
                ></app-search-bar>
            }
            @if (!isUserSearchVisible) {
                <h3>{{ bookId == '' ? 'Book Search' : 'Check Out Results' }}</h3>
                <app-search-bar
                    [isCheckinPage]="isCheckinPage"
                    [isBookSearch]="isBookSearch"
                    [perPage]="perPage"
                    [selectedModel]="selectedBookModel"
                    [fieldOptions]="fieldBookOptions"
                    [selectedField]="selectedBookField"
                    (userSelected)="onUserDetailsReceived($event)"
                    (bookSelected)="onBookDetailsReceived($event)"
                    (itemSelected)="onBookItemSelected($event)"
                ></app-search-bar>
            }
        }
        </div>
            <div class="checkin-modal">
            <app-modal
                [isCheckinPage]="isCheckinPage"
                [isBookDetailsModal]="isBookDetailsModal"
                [isUserDetailsModal]="isUserDetailsModal"
                [showModal]="showModal"
                [modalTitle]="modalTitle"
                [bookDetails]="bookDetails"
                [userDetails]="userDetails"
                (closeModal)="closeModal()">
            </app-modal>
            </div>
        
    </div>
    @if (checkoutId) {
        <button (click)="checkinBook()">Check In</button>
    }
</div>