<div class="search-bar">
    <input
      type="text"
      [(ngModel)]="query"
      (ngModelChange)="onQueryChange($event)"
      placeholder="Search..."
      class="search-input"
    />
  
    @if (fieldOptions.length > 0) {
        <select [(ngModel)]="selectedField" (change)="onFieldChange(selectedField)" class="field-select">
        <option value="">-- Select Filter --</option>
        @for (field of fieldOptions; track field) {
            <option [value]="field">{{ field }}</option>
        } @empty {
            <option>No fields available</option>
        }
        </select>
    }

    <div class="results-info">
        <p>Showing {{ total }} results</p>
        @if (total != 0) {
            <p>Page {{ page }} of {{ totalPages }}</p>
        }
    </div>
    @if (total > 0) {
        <div>
            <div class="pagination">
                <button (click)="changePage(page - 1)" [disabled]="page <= 1">Prev</button>
                <button (click)="changePage(page + 1)" [disabled]="page * perPage >= total">Next</button>
            </div>
        </div>  
    }
    @if (isHomePage && isBookSearch) {
        @for (result of results; track result) {
            <div class="results">
                <div class="result-item">
                    <div>
                        <li><b>{{ result.title }}</b> by {{ result.author }} 
                            <button (click)="onViewDetailsClick(result)">View Details</button>
                        </li>
                        <br>
                    </div>
                </div>
            </div>
        }
    }
    @if (isCheckoutPage && isUserSearch) {
        @for (result of results; track result) {
            <div class="results">
                <div class="result-item">
                    <div>
                        <span><b>Email: </b>{{ result.email }}</span><br>
                        <span><b>Name: </b>{{ result.firstName }} {{ result.lastName }}</span><br>
                        <span><b>Role: </b>{{ result.role }}</span><br>
                        <span><b>ID: </b>{{ result.id }}</span><br>
                        <button (click)="onSelectClick(result)">Select</button><br>
                        <br>
                    </div>
                </div>
            </div>
        }
    }
    @if (isCheckoutPage && isBookSearch) {
        @for (result of results; track result) {
            <div class="results">
                <div class="result-item">
                    <div>
                        <span><b>Title: </b>{{ result.title }}</span><br>
                        <span><b>Author: </b>{{ result.author }}</span><br>
                        <span><b>ID: </b>{{ result.id }}</span><br>
                        <button (click)="onSelectClick(result)">Select</button><br>
                        <br>
                    </div>
                </div>
            </div>
        }
    }
    @if (total > 0) {
        <div>
            <div class="pagination">
                <button (click)="changePage(page - 1)" [disabled]="page <= 1">Prev</button>
                <button (click)="changePage(page + 1)" [disabled]="page * perPage >= total">Next</button>
            </div>
        </div>  
    }
</div>
  