<div class="search-bar-container">
    @if (!isCheckoutSearch && !isReservationsSearch) {
        <div class="search-bar-and-select-container">
        <input
        type="text"
        [(ngModel)]="query"
        (ngModelChange)="onQueryChange($event)"
        placeholder="Search..."
        class="search-input"
        />
    
        @if (fieldOptions.length > 0) {
            <select [(ngModel)]="selectedField" (change)="onFieldChange(selectedField)" class="field-select">
            <option value="">-- Select Filter --</option>
            @for (field of fieldOptions; track field) {
                <option [value]="field">{{ field }}</option>
            } @empty {
                <option>No fields available</option>
            }
            </select>
        }
        </div>
        @if (total > 0) {
            <div class="pagination">
                <button (click)="changePage(page - 1)" [disabled]="page <= 1">Prev</button>
                <button (click)="changePage(page + 1)" [disabled]="page * perPage >= total">Next</button>
            </div>
        }
        
    }
    <div class="results-info">
        @if (query) {
            <p>Showing {{ total }} result(s)</p>
        }
        @if (total != 0 && !isCheckoutSearch) {
            <p>Page {{ page }} of {{ totalPages }}</p>
        }
    </div>
    @if (isHomePage && isBookSearch) {
        @for (result of results; track result) {
            <div class="results">
                <div class="result-item">
                    <div>
                        <li><b>{{ result.title }}</b> by {{ result.author }} 
                            <span class="btn-cluster"><button (click)="onViewDetailsClick(result)">View Details</button></span>
                        </li>
                        <br>
                    </div>
                </div>
            </div>
        }
    }
    @if ((isCheckoutPage || isCheckinPage || isReservationsPage) && isUserSearch && (!isCheckoutSearch || !isReservationsSearch)) {
        @for (result of results; track result) {
            <div class="results">
                <div class="result-item">
                    <div>
                        <span><b>ID: </b>{{ result.id }}</span><br>
                        <span><b>Email: </b>{{ result.email }}</span><br>
                        <span><b>Name: </b>{{ result.firstName }} {{ result.lastName }}</span><br>
                        <span><b>Role: </b>{{ result.role }}</span><br>
                        <span class="btn-cluster"><button (click)="onSelectClick(result)">Select</button><br></span>
                        <br>
                    </div>
                </div>
            </div>
        }
    }
    @if ((isCheckoutPage || isCheckinPage || isReservationsPage) && isBookSearch && (!isCheckoutSearch || !isReservationsSearch)) {
        @for (result of results; track result) {
            <div class="results">
                <div class="result-item">
                    <div>
                        <span><b>ID: </b>{{ result.id }}</span><br>
                        <span><b>Title: </b>{{ result.title }}</span><br>
                        <span><b>Author: </b>{{ result.author }}</span><br>
                        <span class="btn-cluster"><button (click)="onSelectClick(result)">Select</button><br></span>
                        <br>
                    </div>
                </div>
            </div>
        }
    }
    @if (isCheckinPage && isCheckoutSearch) {
        @for (result of results; track result) {
            <div class="results">
                <div class="result-item">
                    <div>
                        <span><b>Checkout ID: </b>{{ result.id }}</span><br>
                        <span><b>Returned: </b>{{ result.returned }}</span><br>
                        <span><b>Checked Out at: </b>{{ result.checkedOutAt }}</span><br>
                        <span><b>Due at: </b>{{ result.dueAt }}</span><br>
                        <span><b>User ID: </b>{{ result.userId }} <button (click)="onGetUserDetails(result.userId)">View User Details</button></span><br>
                        <span><b>Book ID: </b>{{ result.bookId }} <button (click)="onGetBookDetails(result.bookId)">View Book Details</button></span><br>
                        <span class="btn-cluster"><button (click)="onSelectClick(result)">Select</button><br></span>
                        <br>
                    </div>
                </div>
            </div>
        }
    }
    @if (isReservationsPage && isReservationsSearch) {
        @for (result of results; track result) {
            <div class="results">
                <div class="result-item">
                    <div>
                        <span><b>Reservation ID: </b>{{ result.id }}</span><br>
                        <span><b>Status: </b>{{ result.status }}</span><br>
                        <span><b>Reserved at: </b>{{ result.reservedAt }}</span><br>
                        <span><b>Expires at: </b>{{ result.expiresAt }}</span><br>
                        <span><b>User ID: </b>{{ result.userId }} <button (click)="onGetUserDetails(result.userId)">View User Details</button></span><br>
                        <span><b>Book ID: </b>{{ result.bookId }} <button (click)="onGetBookDetails(result.bookId)">View Book Details</button></span><br>
                        <span class="btn-cluster"><button (click)="onSelectClick(result)">Select</button><br></span>
                        <br>
                    </div>
                </div>
            </div>
        }
    }
    @if (isUserPage && isUserSearch) {
        @for (result of results; track result) {
            <div class="results">
                <div class="result-item">
                    <div>
                        <span><b>ID: </b>{{ result.id }}</span><br>
                        <span><b>Email: </b>{{ result.email }}</span><br>
                        <span><b>Name: </b>{{ result.firstName }} {{ result.lastName }}</span><br>
                        <span><b>Role: </b>{{ result.role }}</span><br>
                        <span class="btn-cluster">
                            <button (click)="onUserRoleToggle(result.id)">Switch Role</button>
                            <button (click)="onUserDelete(result.id)" class="delete-btn">Delete User</button>
                        <br>
                        <br>
                        </span>
                    </div>
                </div>
            </div>
        }
    }
    @if (isInventoryPage && isBookSearch) {
        @for (result of results; track result) {
            <div class="results">
                <div class="result-item">
                    <div>
                        <span><b>ID: </b>{{ result.id }}</span><br>
                        <span><b>Title: </b>{{ result.title }}</span><br>
                        <span><b>Author: </b>{{ result.author }}</span><br>
                        <span><b>First Publish Year: </b>{{ result.firstPublishYear }}</span><br>
                        <span><b>Genres: </b>{{ result.genres.join(', ') }}</span><br>
                        <span><b>Book Condition: </b>{{ result.bookCondition }}</span><br>
                        <span class="btn-cluster">
                            <button (click)="onBookEdit(result.id)">Edit Book</button>
                            <button (click)="onBookDelete(result.id)" class="delete-btn">Delete Book</button>
                        <br>
                        <br>
                        </span>
                    </div>
                </div>
            </div>
        }
    }
    @if (total > 0 && (!isCheckoutSearch || !isReservationsSearch)) {
        <div>
            <div class="pagination">
                <button (click)="changePage(page - 1)" [disabled]="page <= 1">Prev</button>
                <button (click)="changePage(page + 1)" [disabled]="page * perPage >= total">Next</button>
            </div>
        </div>  
    }
</div>
  