<div class="sign-up-container">
    <h1>Arbor Library</h1>
    <h2>Create An Account</h2>
    @if (errorMessage) {
        <div NgIf="errorMessage" class="error-message" style="color: red; font-size: 14px;">
            @if (isArray(errorMessage)) {
                @for (error of errorMessage; track error) {
                    <p>{{ error }}</p>
                }
            } @else {
                <p>{{ errorMessage }}</p>
            }
        </div>
    }

    <form (ngSubmit)="onSubmit()">
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" [(ngModel)]="email" name="email" placeholder="johndoe@hotmail.com" required />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" required>
        </div>
        <div>
            <label for="passwordConfirmation">Password Confirmation</label>
            <input type="password" id="passwordConfirmation" [(ngModel)]="passwordConfirmation" name="passwordConfirmation" required>
        </div>
        <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName" placeholder="John" required/>
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName" placeholder="Doe" required/>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
        <p>Already have an account?</p>
        <div>
            <button [routerLink]="['/login']" class="login-btn">Login</button>
        </div>
    </form>
</div>