<div class="home-container">
   <h2>Welcome, {{ userRole }} {{ userFirstName }} {{ userLastName }}</h2>
      <button (click)="logout()">Logout</button>
   <!-- Display Librarian Dashboard link only if the user is a librarian -->
   @if (isLibrarian) {
      <button [routerLink]="['/librarian-dashboard']">Go to Librarian Dashboard</button>
   }
   <button (click)="viewAccount()">My Account</button>
   <button (click)="viewReservations()">My Reservations</button>
   <div class="home-search">
      <app-search-bar
         [isHomePage]="isHomePage"
         [isBookSearch]="isBookSearch"
         [selectedModel]="selectedModel"
         [fieldOptions]="fieldOptions"
         [selectedField]="selectedField"
         (itemSelected)="onItemSelected($event)"
      ></app-search-bar>
   </div>
      <div class="home-modal">
         <app-modal
            [isHomePage]="isHomePage"
            [isBookDetailsModal]="isBookDetailsModal"
            [isMyReservationsModal]="isMyReservationsModal"
            [isMyAccountModal]="isMyAccountModal"
            [showModal]="showModal"
            [modalTitle]="modalTitle"
            [bookDetails]="bookDetails"
            [reservations]="reservations"
            [userDetails]="userDetails"
            (closeModal)="closeModal()">
         </app-modal>
      </div>
</div>