<button [routerLink]="['/home']">Return Home</button>
<!-- Display Librarian Dashboard links only if the user is a librarian -->
@if (isLibrarian) {
    <button [routerLink]="['in']">Check In</button>
    <button [routerLink]="['out']">Check Out</button>
    <button [routerLink]="['manage-inventory']">Manage Inventory</button>
    <button [routerLink]="['manage-users']">Manage Users</button>
    <button [routerLink]="['cancel-reservations']">Cancel Reservations</button>
    <button [routerLink]="['reports']">Reports</button>
}

<router-outlet></router-outlet>