.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    max-height: 80vh;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}
  
.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
  
.modal-body {
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;
}
  
.reserve-btn {
    margin-top: 10px;
}