@if (showModal) {
    <div class="modal-overlay">
        <div class="modal-content">
            <button class="modal-close-btn" (click)="close()">X</button>

            <h2>{{ modalTitle }}</h2>
            @if (isHomePage && isBookDetailsModal) {
                <div class="modal-body">
                    <p><b>Title:</b> {{ bookDetails.title }}</p>
                    <p><b>Author:</b> {{ bookDetails.author }}</p>
                    <p><b>First Publish Year:</b> {{ bookDetails.firstPublishYear }}</p>
                    <p><b>Genres:</b> {{ bookDetails.genres.join(', ')}}</p>
                    <button (click)="createMyReservation(bookDetails.id)">Reserve Now!</button>
                </div>
            }
            @if (isHomePage && isMyAccountModal && !isEditMode) {
                <div class="modal-body">
                    <p><b>Email:</b> {{ userDetails.email }}</p>
                    <p><b>Role:</b> {{ userDetails.role }}</p>
                    <p><b>First Name:</b> {{ userDetails.firstName }}</p>
                    <p><b>Last Name:</b> {{ userDetails.lastName}}</p>
                    <span>
                        <button (click)="editMyAccount()">Edit Account</button>
                        <button (click)="deleteMyAccount()">Delete Account</button>
                    </span>
                </div>
            } 
            @if (isHomePage && isMyAccountModal && isEditMode){
                <p><b>Email:</b> {{ userDetails.email }}</p>
                <p><b>Role:</b> {{ userDetails.role }}</p>
                <form>
                    <p>
                        <label for="firstName"><b>First Name: </b></label>
                        <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName" placeholder="John" required>
                    </p>
                    <p>
                        <label for="lastName"><b>Last Name: </b></label>
                        <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName" placeholder="Doe" required>
                    </p>
                    <p>
                        <label for="password"><b>Password: </b></label>
                        <input type="password" id="password" [(ngModel)]="password" name="password" required>
                    </p>
                    <p>
                        <label for="passwordConfirmation"><b>Confirm Password: </b></label>
                        <input type="password" id="password" [(ngModel)]="passwordConfirmation" name="passwordConfirmation" required>
                    </p>
              
                    <div class="button-group">
                        <button type="button" (click)="saveMyAccount()">Save</button>
                        <button type="button" (click)="cancelMyAccountEdit()">Cancel</button>
                    </div>
                </form>
            }
            @if (isHomePage && isMyReservationsModal) {
                <div class="modal-body">
                    <ul>
                    @for (reservation of reservations; track reservation) {
                        <li>
                            <p><b>Title:</b> {{ reservation.bookTitle }}</p>
                            <p><b>Author:</b> {{ reservation.bookAuthor }}</p>
                            <p><b>Status:</b> {{ reservation.status }}</p>
                            <p><b>Reserved At:</b> {{ reservation.reservedAt }}</p>
                            <p><b>Expires At:</b> {{ reservation.expiresAt }}</p>
                            <button (click)="cancelMyReservation(reservation.id)">Cancel Reservation</button>
                            <br>
                        </li>
                    }
                    </ul>
                </div>
            }
            @if (isHomePage && isMyCheckoutsModal) {
                <div class="modal-body">
                    <ul>
                    @for (checkout of checkouts; track checkout) {
                        <li>
                            <p><b>Title:</b> {{ checkout.bookTitle }}</p>
                            <p><b>Author:</b> {{ checkout.bookAuthor }}</p>
                            <p><b>Returned:</b> {{ checkout.returned }}</p>
                            <p><b>Checked Out At:</b> {{ checkout.checkoutOutAt }}</p>
                            <p><b>Due At:</b> {{ checkout.dueAt }}</p>
                            <br>
                        </li>
                    }
                    </ul>
                </div>
            }
            @if (isCheckinPage && isBookDetailsModal) {
                <div class="modal-body">
                    <p><b>ID: </b>{{ bookDetails.id }}</p>
                    <p><b>Title: </b>{{ bookDetails.title }}</p>
                    <p><b>Author: </b>{{ bookDetails.author }}</p>
                    <p><b>First Publish Year: </b>{{ bookDetails.firstPublishYear }}</p>
                    <p><b>Genres: </b>{{ bookDetails.genres.join(', ')}}</p>
                </div>
            }
            @if (isCheckinPage && isUserDetailsModal) {
                <div class="modal-body">
                    <p><b>ID: </b>{{ userDetails.id }}</p>
                    <p><b>Email: </b>{{ userDetails.email }}</p>
                    <p><b>Role: </b>{{ userDetails.role }}</p>
                    <p><b>First Name: </b>{{ userDetails.firstName }}</p>
                    <p><b>Last Name: </b>{{ userDetails.lastName }}</p>
                </div>
            }
            <!-- existing book -->
            @if (isInventoryPage && isBookDetailsModal && this.bookDetails.id) {
                <form>
                    <p><b>ID: </b>{{ bookDetails.id }}</p>
                    <p>
                        <label for="Title"><b>Title: </b></label>
                        <input type="text" id="title" [(ngModel)]="bookDetails.title" name="title" required>
                    </p>
                    <p>
                        <label for="Author"><b>Author: </b></label>
                        <input type="text" id="author" [(ngModel)]="bookDetails.author" name="author" required>
                    </p>
                    <p>
                        <label for="firstPublishYear"><b>First Publish Year: </b></label>
                        <input type="text" id="firstPublishYear" [(ngModel)]="bookDetails.firstPublishYear" name="firstPublishYear" required>
                    </p>
                    <p>
                        <label for="genres"><b>Genres: </b></label>
                        <button type="button" (click)="getGenres()">Associate Genres</button>
                        <div>
                            @if (isInventoryPage && showGenres) {
                                @for (genre of pagedGenres; track genre) {
                                    <label>
                                        <p>
                                            <input type="checkbox"
                                            [checked]="selectedGenres.has(genre.id)"
                                            (change)="toggleGenreSelection(genre.id)">
                                            {{ genre.genre }}
                                        </p>
                                    </label>
                                }

                                <div class="button-group">
                                    <button type="button" (click)="prevPage()" [disabled]="currentPage === 1">Prev</button>
                                    <button type="button" (click)="nextPage()" [disabled]="currentPage * perPage >= allGenres.length">Next</button>
                                    <span> Page {{ currentPage }} of {{ totalPages }}</span>
                                </div>

                                <div class="button-group">
                                    <button type="button" (click)="saveGenreSelection()">Save Genres</button>
                                    <button type="button" (click)="closeGenres()">Cancel</button>
                                </div>
                            }
                        </div>
                    <p>
                        <label><b>Book Condition: </b></label>
                        <select [(ngModel)]="bookDetails.bookCondition" name="bookCondition" required>
                            @for (condition of conditions; track condition) { 
                                <option value="{{ condition.toLowerCase() }}" [selected]="bookDetails.bookCondition === condition.toLowerCase()">
                                    {{ condition }}
                                </option>
                            }
                        </select>
                    </p>
              
                    <div class="button-group">
                        <button type="button" (click)="saveBook()">Save</button>
                        <button type="button" (click)="close()">Cancel</button>
                    </div>
                </form>
            }
            <!-- new book -->
            @if (isInventoryPage && isBookDetailsModal && !this.bookDetails.id) {
                <form>
                    <p>
                        <label for="Title"><b>Title: </b></label>
                        <input type="text" id="title" [(ngModel)]="title" name="title" required>
                    </p>
                    <p>
                        <label for="Author"><b>Author: </b></label>
                        <input type="text" id="author" [(ngModel)]="author" name="author" required>
                    </p>
                    <p>
                        <label for="firstPublishYear"><b>First Publish Year: </b></label>
                        <input type="text" id="firstPublishYear" [(ngModel)]="firstPublishYear" name="firstPublishYear" required>
                    </p>
                    <p>
                        <label><b>Book Condition: </b></label>
                        <select [(ngModel)]="bookCondition" name="bookCondition" required>
                            @for (condition of conditions; track condition) { <option>{{ condition }}</option> }
                        </select>
                    </p>

                    <div class="button-group">
                        <button type="button" (click)="saveBook()">Add Book</button>
                        <button type="button" (click)="close()">Cancel</button>
                    </div>
                </form>
            }
            @if (isInventoryPage && isGenreModal) {
                <p>
                    <label for="Genre Name"><b>Genre Name: </b></label>
                    <input type="text" id="genreName" [(ngModel)]="genreName" name="genreName" required>
                </p>
                <div class="button-group">
                    <button type="button" (click)="saveGenre()">Add Genre</button>
                    <button type="button" (click)="close()">Cancel</button>
                </div>
            }
        </div>
    </div>
}